body {
  background-color: #F0EFF4;
  font-family: 'PT Sans', sans-serif;
  color: black;
  line-height: 100%
}

a {
  text-decoration: none;
}

a:visited {
    color: black;
}


#sidebar {
  position: fixed;
  background-color: #384047;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
}

#sidebar a {
  color: white;
}

#content {
  margin-left: 200px;
}

#container {
  width: 500px;   /* This sets the width */
  margin: 30px auto; /* This automatically sets left/right margins */
}

.card {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
  background: white;
}

.img-profile {
  width: 150px;
  height: 150px;
}

.img-circle {
  border-radius: 50%
}

.img-movie {
  width: 100px;
}

.lineheight-2 {
  line-height: 2
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.text-125pc {
  font-size: 125%;
}

.text-200pc {
  font-size: 200%;
}

.tablecell-padded {
  padding: 10px;
}

.list-inline {
  padding: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 20px 40px;
}

